.containerCard {
    width: 500px;
    margin: 10px auto;
    border: solid 5px #db0606;
    display:inline-block;
    text-align: center;
    margin: 40px;
    border-radius: 0 50px 50px 50px;
    margin-bottom: 10px;
}

h1 {
    font-size: 50px;
    text-align: left;
}

.imagemCard {
    max-height: 220px;
    max-width: 360px;
}


